@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	background-color: #f7f7f7;
	min-width: 320px;
	box-sizing: border-box;a
}

a, h4, p {
	color: #4e4e4e;
	/*1abb9c active*/
}

h2 {
	color: #f3f3f3;
}

h3, h5 {
	color: #a8a8a8;
}

.flex-container {
	margin: 0 9%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header {
	height: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

header.flex-container {
	justify-content: space-between;
	padding: 35px 0;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

a:hover, .a-active {
	color: #1abb9c;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul{
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding-right: 20px;
}

nav li:last-child {
	padding: 0;
}

/* Slider */
.slider {
	background-image: url(../images/banner.jpg);
	/*background-color: used if the image is unavailable*/
	height: 400px; /* You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat;
	-webkit-background-size: cover; /* Do not repeat the image */
	background-size: cover;	/* Resize the background image to cover the entire container */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slider a {
	margin-top: 20px;
	padding: 20px;
	background-color: #3f8dbf;
	border-radius: 3px;
	color: #f3f3f3;;
	box-shadow: 0px 4px #3678a3;
}

.slider a:hover {
	
	background-color: #327aa9;
	box-shadow: 0px 4px #44799a;
}

main .services {
	display: flex;

	justify-content: space-between;

	align-items: stretch;

	margin-top: 60px;

	margin-bottom: 40px;

	padding: 0 30px 30px;

	border-bottom: 2px solid #dcdcdc;
}

main .service {
	display: flex;
	flex-direction: column;
	width: 22%;
}

main .service img {
	margin: 0 auto;
	display: block;
}

/* Our Latest Works */
main .latest-works {
	
	width: 100%;
	
	text-align: left;
	
	margin-bottom: 60px;
}

main .latest-works .works {
	display: flex;
	justify-content: space-between;
}

main .latest-works h4 {
	text-transform: uppercase;
}

main .latest-works p {
	color: #5c5c5c;
}

main .latest-works .work {
	width: 32.5%;
}

main .latest-works .work img{
	width: 100%;
}

/* Testimonial */
.testimonial {
	
	background-color: #efefef;
}

.testimonial .flex-container {
	padding: 30px 12% 60px;
}

.testimonial .flex-container p{
	margin: 0;
	color: #dcdcdc;
	font-size: 67px;
}

.testimonial .flex-container .quot {
	color: #a1a1a1;
	font-size: 22px;
}

/* Footer */
footer {
	text-align:left;
	background-color: #1f1f1f;
	color: #9e9e9e;
}

.footer-main {
	line-height: 1.6em;
	display: flex;
	border-bottom: 2px solid #383838;
}

.footer-main ul {
	list-style: none;
}

.footer-main p {
	color: #9e9e9e;
}

.footer-main ul .twitter{
	list-style-image: url('../images/tweet.gif');
}

.footer-main ul .location{
	list-style-image: url('../images/location.png');
}

.footer-main ul .phone{
	list-style-image: url('../images/phone.png');
}

.footer-main ul .mail{
	list-style-image: url('../images/mail.png');
}

footer li {
	margin-bottom: 18px;
}

.twitter {
	margin-left: 15px;
}

.location, .phone, .mail {
	margin-left: 15px;
	margin-bottom: 0;
}

footer h4 {
	text-transform: uppercase;
}

footer .article-text {
	margin-bottom: 0;
}

footer .article-date {
	font-size: 12px;
	margin-top: 0px;
}

.copyright {
	text-align: left;
	display: flex;
	justify-content: flex-start;
}

.copyright p {
	color: #737373;
	padding: 30px 0;
}

/* Media queries */

/* footer */
@media only screen and (max-width: 1500px) {
	.footer-main {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-main ul {
		display: block;
		width: 46%;
	}
}

@media only screen and (max-width: 1238px) {
	.footer-main ul {
		width: 82%;
		padding: 0;
		font-size: 23px;
	}

	.footer-main ul {
		width: 100%;
	}

	footer .article-date {
		font-size: 16px;
	}
}

/* Testimonials */
@media only screen and (max-width: 1400px) {
	.testimonial .flex-container {
    padding: 20px 5% 60px;
}
}

@media only screen and (max-width: 570px) {
	.testimonial .flex-container {
    padding: 12px 0% 48px;
}
}


/* Latest Works */
@media only screen and (max-width: 1400px) {
	main .latest-works h4 {
		font-size: 25px;
	}

	main .latest-works h5 {
		font-size: 17px;
	}

	main .latest-works p {
		font-size: 20px
	}

	main .latest-works .works {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	main .latest-works .work {
		width: 49%;
		margin-bottom: 5%;
	}
	
	main .latest-works .work:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 1200px) {
		main .latest-works .works {
		flex-wrap: wrap;
		justify-content: center;
	}

	main .latest-works .work {
		width: 100%;
		margin-bottom: 10%;
	}
	
	main .latest-works .work:last-child {
		margin-bottom: 5%;
	}
}

/* Services */
@media only screen and (max-width: 1400px) {
	main .services {
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
	}

	main .service {
		width: 48.5%;
		margin-bottom: 8%;
	}

	main .service img {
		width: 50%;
	}

	main .service h4 {
		font-size: 25px;
		margin-bottom: 0;
	}

	main .service h5 {
		font-size: 17px;
	}

}

@media only screen and (max-width: 978px) {
		main .services {
		flex-wrap: wrap;
		justify-content: center;
	}

	main .service {
		width: 90%;
	}
}

/* Slider */
@media only screen and (max-width: 1400px) {
	.slider h2 {
		font-size: 40px;
	}

	.slider h3 {
		font-size: 30px;
	}

	.slider a {
		font-size: 25px;
	}
}

@media only screen and (max-width: 776px) {
	.slider h2 {
		font-size: 35px;
	}

	.slider h3 {
		font-size: 25px;
	}

	.slider a {
		font-size: 20px;
	}
}

/* Header */


@media only screen and (max-width: 1400px) {
	header a {
		font-size: 25px;
	}
}

@media only screen and (max-width: 1150px) {
	header.flex-container {
		justify-content: center;
		flex-direction: column;
	}

	header.flex-container img {
		padding-bottom: 33px;
	}

	header a {
		font-size: 25px;
	}
}

@media only screen and (max-width: 799px) {
	header.flex-container {
		display: flex;
		padding: 0;
		margin: 0;
		justify-content: center;
	}

		header.flex-container nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}

	header.flex-container img {
		padding: 40px;
	}

	header.flex-container li {
		display: block;
		width: 100%;
		margin-bottom: 18px;
		padding: 0;
	}

	header.flex-container li a {
		display: block;
		width: 100%;
	}

	/* header.flex-container li:last-child {
		margin-bottom: 0;
	} */
}
